@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@300;400;500;600;700&display=swap');

@mixin trans($ms) {
	-webkit-transition: all $ms ease;
	-moz-transition: all $ms ease;
	-ms-transition: all $ms ease;
	-o-transition: all $ms ease;
	transition: all $ms ease;
}

@mixin flexbox {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flexbox;
	display: flex;
}

@mixin inline-flex {
	display: -webkit-inline-box;
	display: -webkit-inline-flex;
	display: -moz-inline-flex;
	display: -ms-inline-flexbox;
	display: inline-flex;
}

$black : #000000;
$white: #FFFFFF;
$blue : #070F44;
$yellow: #FFC200;

html,
body {
	margin: 0;
	padding: 0;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
input,
button,
select {
	font-family: 'Assistant', sans-serif;
}

.header {
	position: relative;

	.menu-wrapper {
		align-items: center;
		@include flexbox;
	}

	.action-buttons {
		align-items: center;
		@include flexbox;

		ul {
			list-style-type: none;
			margin: 0;
			@include flexbox;
			justify-content: space-between;
			align-items: center;
		}

		li {
			margin-right: 34px;
			position: relative;
			padding-right: 34px;

			&:first-child {
				&:before {
					display: none;
				}
			}

			&:before {
				content: '';
				display: block;
				height: 30px;
				width: 1px;
				background-color: rgba(37, 81, 151, 0.5);
				position: absolute;
				right: 0;
				top: -3px;
			}
		}

		button {
			background: none;
			border: 0;
			padding: 0;
			cursor: pointer;

			&.lang-button {
				font-weight: 500;
				font-size: 21px;
				line-height: 48px;
				color: $blue;
			}
		}
	}

	.header-inner {
		margin: 0 70px;
		@include flexbox;
		padding: 15px 0;
		justify-content: space-between;
	}

	.menu-wrapper {
		ul {
			list-style-type: none;
			@include flexbox;
			justify-content: space-between;
			align-items: center;
			margin: 0;
		}

		li {
			margin-right: 50px;

			&:first-child {
				margin-right: 0;
			}
		}

		a {
			font-weight: 500;
			font-size: 18px;
			line-height: 24px;
			color: $blue;
			text-decoration: none;
		}
	}
}

.home-slider-pause {
	background: none;
	padding: 0;
	border: 0;
	width: 19.71px;
	height: 19.71px;

	svg.play {
		display: none;
	}

	&.paused {
		svg.play {
			display: block;
		}

		svg.pause {
			display: none;
		}
	}
}

.home-main-slider {
	.wide-container {
		height: 100%;
		position: relative;

		&:before {
			content: '';
			background: linear-gradient(270.74deg, #0E2551 3.51%, rgba(14, 37, 81, 0) 67.09%);
			opacity: 0.5;
			width: 100%;
			height: 824px;
			position: absolute;
			top: 0;
			right: -66px;
		}
	}

	.slide-inner {
		height: 100%;
		@include flexbox();
		align-items: flex-start;
		position: relative;
		flex-direction: column;
		text-align: right;
		justify-content: flex-start;
		padding-top: 210px;
	}

	.swiper {
		width: 100%;
		height: 800px;
	}

	.title {
		font-weight: 700;
		font-size: 60px;
		line-height: 58px;
		color: $white;
		margin-bottom: 23px;
	}

	.desc {
		color: #F3F4FA;
		font-weight: 400;
		font-size: 22px;
		line-height: 31px;
		max-width: 660px;
		margin-bottom: 29px;
	}

	.swiper-pagination {
		position: absolute;
		text-align: center;
		transition: .3s opacity;
		transform: translate3d(0, 0, 0);
		z-index: 9999999;
		bottom: auto !important;
		left: 68px !important;
		width: 20px !important;
		top: 40%;

		.swiper-pagination-bullet {
			border: 2px solid #FFFFFF;
			background-color: transparent;
			display: block;
			width: 9.1px;
			height: 9.1px;
			opacity: 1 !important;
			margin-top: 13px;

			&.swiper-pagination-bullet-active {
				background-color: $white;
			}
		}
	}
}

.home-main-slider[data-total="1"] {
	.swiper-pagination {
		display: none;
	}
}


.wide-container {
	max-width: 1770px;
	margin: 0 auto;
}

/*********************
 * News bar [START]
 *********************/
$dap-tw-height: 40px;
$dap-tw-accent: teal;
$dap-tw-divider: #fff;
$dap-tw-bg: #eee;

#news-bar {
	background: #D3F1FF;
}

.news-bar-inner {
	@include flexbox;
	justify-content: space-between;
	align-items: center;
}

.pause-news-bar {
	margin-right: 30px;

	button {
		background: none;
		padding: 0;
		border: 0;
		cursor: pointer;

		svg {
			&.play {
				display: none;
			}
		}

		&.active {
			svg {
				&.play {
					display: block;
				}

				&.pause {
					display: none;
				}
			}
		}
	}
}

.twitter-scroll {
	height: $dap-tw-height;
	line-height: $dap-tw-height;
	margin: 0;
	overflow: hidden;
	position: relative;
	direction: ltr;

	.item-link {
		font-weight: 400;
		font-size: 16px;
		line-height: 21px;
		color: $blue;
		text-decoration: none;
		direction: rtl;
		display: inline-block;

		margin-right: 25px;
		padding-right: 25px;
		border-right: 1px solid #070F44;

		&:last-child {
			margin-right: 0;
			padding-right: 0;
			border-right: 0;
		}

		.item-date {
			font-weight: 600;
			margin-left: 10px;
		}

		.item-arrow {
			display: inline-block;
			margin-right: 25px;
		}
	}
}

/******************
 * News bar [END]
 * **************/

.yellow-btn {
	background-color: $yellow;
	color: $blue;
	border: 2px solid transparent;
	@include trans(300ms);

	&:hover {
		background-color: $white;
		border-color: $yellow;
	}
}

.button {
	height: 45px;
	@include flexbox();
	border-radius: 20px;
	padding: 0 69px;
	align-items: center;
	font-weight: 600;
	font-size: 19px;
	line-height: 25px;
	text-decoration: none;
}

#home-services-section {
	position: relative;
	margin-top: -250px;
	z-index: 10;

	&:before {
		content: '';
		top: 85px;
		display: inline-block;
		width: 100%;
		height: 300px;
		position: absolute;
		z-index: 1;
		background: url(../../images/blue-wave.png) no-repeat top center;
	}

	.section-inner {
		width: 100%;
		max-width: 1275px;
		margin: auto;
		position: relative;
		z-index: 2;
	}

	.section-title {
		font-weight: 400;
		color: $white;
		font-size: 23px;
		line-height: 30px;
		margin-bottom: 23px;

		strong {
			font-weight: 500;
		}

		p {
			margin: 0;
		}
	}

	.services-grid {
		@include flexbox();
		justify-content: space-between;
	}

	.service {
		width: 118px;
		height: auto;
		background: #FFFFFF;
		border: 1.5px solid #FFC200;
		box-shadow: 0px 10px 30px rgba(7, 44, 103, 0.25);
		border-radius: 15px;
		@include flexbox();
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		flex-direction: column;
		text-align: center;
		padding-top: 25px;
		padding-bottom: 20px;
		@include trans(300ms);

		&:hover {
			background: #255197;
			border: 1.5px solid #FFFFFF;

			.title {
				color: $white;
			}
		}

		.icon {
			@include flexbox();
			justify-content: flex-start;
		}

		.title {
			font-weight: 500;
			font-size: 17px;
			line-height: 20px;
			color: #1D4C97;
			margin-top: 10px;
		}

		a {
			@include flexbox();
			justify-content: center;
			align-items: center;
			flex-wrap: wrap;
			flex-direction: column;
			text-align: center;
			text-decoration: none;
		}
	}
}

#home-news-section {
	// background-color: #C2EAFE;
	background: rgb(194, 234, 254);
	background: linear-gradient(180deg, rgba(194, 234, 254, 1) 0%, rgba(255, 255, 255, 1) 100%);
	z-index: 10;
	position: relative;
	margin-top: 70px;
	padding-bottom: 100px;

	.news-section-slider {
		position: relative;

		.swiper-button-control {
			width: 44px;
			height: 44px;
			border-radius: 50%;
			background: #FFFFFF;
			border: 1.5px solid #255197;

			&:after {
				display: none;
			}
		}

		.swiper-button-prev {
			left: -70px;
			right: auto;
			background: #FFFFFF url(../../images/swiper-left-blue.png) no-repeat center;
		}

		.swiper-button-next {
			right: -70px;
			left: auto;
			background: #FFFFFF url(../../images/swiper-right-blue.png) no-repeat center;
		}
	}

	.section-inner {
		max-width: 1470px;
		margin: auto;
	}

	.section-title {
		color: #255197;
		font-weight: 300;
		font-size: 42px;
		line-height: 46px;
		margin-bottom: 80px;
		text-align: center;

		strong {
			font-weight: 500;
		}

		p {
			margin: 0;
		}
	}

	.news-box {
		background: #FFFFFF;
		border: 1px solid rgba(82, 143, 216, 0.3);
		border-radius: 15px;
		overflow: hidden;

		a {
			text-decoration: none;
		}

		.content-wrapper {
			height: 501px;
			@include flexbox();
			flex-wrap: nowrap;
			flex-direction: column;
			justify-content: space-between;
		}

		.news-box__content {
			padding: 38px 19px 0 0;
		}

		.title {
			color: #255197;
			font-weight: 600;
			font-size: 22px;
			line-height: 28px;
			margin-bottom: 10px;
		}

		.desc {
			font-weight: 400;
			font-size: 18px;
			line-height: 25px;
			color: #070F44;
			opacity: 0.6;
			max-width: 85%;
		}

		.permalink {
			font-weight: 700;
			font-size: 18px;
			line-height: 30px;
			color: #255197;
			display: inline-block;
			margin-top: 20px;
			background: url(../../images/news-readmore.png) no-repeat left center;
			padding-left: 50px;
			//@include trans(300ms);

			&:hover {
				background: url(../../images/news-readmore-hover.png) no-repeat left center;
			}
		}

		.image {
			position: relative;
			margin-top: 10px;
			max-height: 281px;
			overflow: hidden;

			&::before {
				content: '';
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
				right: 0;
				background: rgba(37, 81, 151, 0.4);
			}
		}
	}
}

footer.footer {
	background: #1D4C97;
	padding-top: 40px;

	.container {
		max-width: 1470px;
		margin: auto;
	}

	.menu-title {
		font-weight: 600;
		font-size: 21px;
		line-height: 30px;
		color: #FFC200;
		margin-bottom: 12px;
	}

	.footer-column {
		ul {
			margin: 0;
			padding: 0;
			list-style-type: none;

			a {
				color: $white;
				font-weight: 400;
				font-size: 18px;
				line-height: 30px;
				text-decoration: none;

				&:hover {
					font-weight: 700;
				}
			}
		}
	}

	.footer-inner {
		.row {
			@include flexbox();
			justify-content: space-between;
		}
	}

	.contact-details {
		font-weight: 400;
		font-size: 18px;
		line-height: 30px;
		color: #FFFFFF;

		p {
			margin-top: 0;
			margin-bottom: 16px;

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	.last-row {
		padding-top: 28px;
		padding-bottom: 32px;
		@include flexbox();
		justify-content: space-between;
		font-weight: 400;
		font-size: 18px;
		line-height: 30px;
		color: $white;

		a {
			color: $white;
			text-decoration: none;
		}
	}

	.footer-devider {
		margin-top: 40px;
		height: 1px;
		width: 100%;
		background: rgba(255, 255, 255, 0.15);
	}
}

#header-banner {
	background: url(../../images/header-banner.png) no-repeat bottom center;
	min-height: 303px;
	margin-bottom: 70px;

	.header-banner-inner {
		padding-top: 70px;
		padding-bottom: 100px;
		text-align: center;
	}

	.banner-title {
		font-weight: 500;
		font-size: 55px;
		line-height: 58px;
		color: #255197;
	}
}

.breadcrumbs-wrap {
	color: rgba(37, 81, 151, 0.8);
	font-weight: 400;
	font-size: 16px;
	line-height: 29px;

	a {
		text-decoration: none;
		color: rgba(37, 81, 151, 0.8);
	}
}

#contact-page-wrapper {
	.container {
		max-width: 1317px;
		margin: auto;
	}

	.video-button {
		width: 51.33px;
		height: 51.33px;
		display: block;
		background: url(../../images/play-btn-large.png) no-repeat center;
	}

	.top-area {
		@include flexbox();
		justify-content: space-between;
		padding-bottom: 80px;
		margin-bottom: 80px;
		border-bottom: 1px solid rgba(162, 214, 239, 0.5);
	}

	.bottom-area {
		margin-bottom: 200px;
	}

	.wp-editor-wrapper {

		h2,
		h3 {
			font-weight: 500;
			font-size: 32px;
			line-height: 42px;
			color: #255197;
			margin: 0 0 16px 0;
		}

		p {
			font-weight: 400;
			font-size: 18px;
			line-height: 30px;
			color: rgba(7, 15, 68, 0.8);
		}
	}

	.video-wrapper {
		a {
			&.active {
				.iframe {
					@include flexbox();
				}

				.image {
					display: none;
				}
			}
		}

		.iframe {
			position: relative;
			border-radius: 10px;
			overflow: hidden;
			display: none;
		}

		.image {
			position: relative;
			border-radius: 10px;
			overflow: hidden;
			@include flexbox();

			&:before {
				content: '';
				width: 100%;
				height: 100%;
				background: rgba(0, 0, 0, 0.15);
				position: absolute;
			}

			.video-button {
				position: absolute;
				top: 50%;
				left: 50%;
				margin-left: -25.5px;
				margin-top: -25.5px;
			}
		}
	}

	.section-title {
		font-weight: 500;
		font-size: 32px;
		line-height: 30px;
		color: #255197;
		margin-bottom: 35px;
	}

	.contact-sidebar {
		background: #FFFFFF;
		opacity: 0.8;
		box-shadow: 0px 0px 40px rgba(0, 94, 183, 0.15);
		border-radius: 10px;
		padding: 70px 65px 0 65px;

		.contact-row {
			@include flexbox();
			justify-content: flex-start;
			margin-bottom: 60px;

			.icon {
				width: 60px;
				margin-left: 28px;
			}

			.desc {
				.title {
					font-weight: 700;
					font-size: 18px;
					line-height: 30px;
					color: #070F44;
				}

				.content {
					font-weight: 400;
					font-size: 18px;
					line-height: 25px;
					color: #255197;

					p {
						margin: 0;
					}
				}
			}
		}
	}

	.contacts-row {
		@include flexbox();
		justify-content: space-between;
	}

	.form-row {
		@include flexbox();
		justify-content: space-between;
		margin-bottom: 35px;
	}

	.input-item {
		@include flexbox();
		justify-content: space-between;
		flex-flow: column;
		width: 48%;

		&.fullwidth {
			width: 100%;
		}

		&.upload-file {
			.wpcf7-form-control-wrap {
				display: none;
			}
		}
	}

	.wpcf7-form-control-wrap {
		width: 100%;
		display: flex;
	}

	textarea {
		width: 100%;
		background: #FFFFFF;
		border: 1px solid rgba(37, 81, 151, 0.5);
		border-radius: 8px;
		height: 140px;
		padding: 0 18px;
	}

	input {
		width: 100%;
		background: #FFFFFF;
		border: 1px solid rgba(37, 81, 151, 0.5);
		border-radius: 8px;
		height: 45px;
		padding: 0 18px;

		font-weight: 400;
		font-size: 20px;
		line-height: 30px;
		color: #070F44;

		&::-webkit-input-placeholder {
			font-weight: 400;
			font-size: 20px;
			line-height: 30px;
			color: #070F44;
		}

		&::-moz-placeholder {
			font-weight: 400;
			font-size: 20px;
			line-height: 30px;
			color: #070F44;
		}

		&:-ms-input-placeholder {
			font-weight: 400;
			font-size: 20px;
			line-height: 30px;
			color: #070F44;
		}

		&:-moz-placeholder {
			font-weight: 400;
			font-size: 20px;
			line-height: 30px;
			color: #070F44;
		}
	}

	.contact-form {
		max-width: 870px;
		width: 100%;
	}

	.buttons-form-row {
		margin-top: 30px;

		.input-item.submit-button {
			align-items: flex-end;
		}
	}

	.submit-button {
		input[type="submit"] {
			background: #FFC200;
			border-radius: 100px;
			color: #070F44;
			max-width: 190px;
			height: 47px;
			cursor: pointer;
			@include trans(300ms);

			&:hover {
				background-color: $white;
				border: 2px solid #FDD207;
			}
		}
	}
}

.upload-file-button {

	background: #FFFFFF;
	border: 1px solid #070F44;
	border-radius: 20px;
	height: 40px;
	@include flexbox();
	align-items: center;
	justify-content: center;
	max-width: 150px;
	cursor: pointer;
	@include trans(200ms);

	&:hover {
		background: #FFC200;
	}

	.icon {
		background: url(../../images/file-upload-icon.png) no-repeat center;
		width: 25px;
		height: 23.06px;
		display: inline-block;
		margin-left: 14px;
	}

	.title {
		font-weight: 600;
		font-size: 16px;
		line-height: 21px;
		color: #070F44;
	}
}


/***********
 * form
 ************/
.contact-form {
	.form-group {
		position: relative;

		&+.form-group {
			margin-top: 30px;
		}
	}

	.form-label {
		position: absolute;
		right: 10px;
		top: 8px;

		color: #255197;
		font-weight: 400;
		font-size: 16px;
		display: inline-block;
		line-height: 30px;
		background: $white;

		z-index: 10;
		transition: transform 150ms ease-out, font-size 150ms ease-out;
	}

	.focused .form-label {
		transform: translateY(-100%);
	}

	.form-input {
		position: relative;
		padding: 12px 0px 5px 0;
		width: 100%;
		outline: 0;
		border: 0;
		box-shadow: 0 1px 0 0 #e5e5e5;
		transition: box-shadow 150ms ease-out;
	}

	span.wpcf7-not-valid-tip {
		position: absolute;
		bottom: -22px;
		font-size: 14px;
	}
}

#page-404-wrapper {
	.container {
		margin: 0 auto;
		text-align: center
	}

	.logo-404 {
		@include flexbox();
		justify-content: center;
		align-items: center;
		padding-top: 130px;

		.number {
			font-weight: 700;
			font-size: 200px;
			line-height: 30px;
			color: #255197;
			position: relative;
			top: -35px;

			&.first-number {
				left: -40px;
			}
		}
	}

	.title {
		font-weight: 400;
		font-size: 30px;
		line-height: 39px;
		text-align: center;
		color: #070F44;
		margin-bottom: 26px;
	}

	.home-button {
		a {
			background: #FFC200;
			border-radius: 100px;
			border: 2px solid transparent;
			height: 47px;
			display: inline-block;
			font-weight: 600;
			font-size: 20px;
			line-height: 46px;
			color: #070F44;
			padding: 0 35px;
			text-decoration: none;
			@include trans(300ms);

			&:hover {
				border: 2px solid #FDD207;
				background: #FFFFFF;
			}
		}

		margin-bottom: 142px;
	}
}

#header-banner {
	&.has-description {
		.header-banner-inner {
			padding-top: 50px;
			padding-bottom: 120px;
		}
	}
}


.banner-description {
	font-weight: 400;
	font-size: 20px;
	line-height: 29px;
	color: #070F44;
	margin-top: 16px;

	p {
		margin: 0 0 16px 0;

		&:last-child {
			margin: 0;
		}
	}
}

#page-builder-section {
	.container {
		max-width: 1320px;
		margin: 0 auto;
	}

	.builder-item {

		border-bottom: 2px solid rgba(162, 214, 239, 0.5);
		padding-bottom: 45px;
		margin-bottom: 80px;

		.wp-editor {

			h2,
			h3 {
				margin: 0 0 22px 0;
				font-weight: 500;
				font-size: 32px;
				line-height: 1;
				color: #255197;
			}

			p {
				color: rgba(7, 15, 68, 0.8);
				font-weight: 400;
				font-size: 18px;
				line-height: 34px;
				margin-bottom: 21px;

				&:last-child {
					margin-bottom: 0;
				}
			}
		}

		.builder-item__row {
			&.flex {
				@include flexbox();
				justify-content: space-between;
			}
		}

		&[data-layout="content_with_image"] {
			.image-column {
				position: relative;
				border-radius: 15px;
				overflow: hidden;
				margin-top: 58px;
			}
		}

		.builder-item__title {
			color: #255197;
			font-weight: 500;
			font-size: 32px;
			line-height: 1;
			margin: 0 0 34px 0;
		}

		.links-list {
			list-style-type: none;
			margin: 0;
			padding: 0;

			li {
				background: url(../../images/list-item-arrow.png) no-repeat right center;
				padding-right: 40px;
				margin-bottom: 20px;

				&:last-child {
					margin-bottom: 0;
				}

				a {
					color: #070F44;
					opacity: 0.8;
					font-weight: 500;
					font-size: 18px;
					line-height: 20px;
					text-decoration: none;
				}
			}
		}

		.table-header {
			@include flexbox();
			justify-content: space-between;
			padding-bottom: 18px;
			margin-bottom: 30px;
			border-bottom: 2px solid #070F44;

			.head {
				font-weight: 700;
				font-size: 20px;
				line-height: 34px;
				color: #070F44;

				&.files-head {
					padding-left: 100px
				}
			}
		}

		.table-body {
			.table-row {
				@include flexbox();
				justify-content: space-between;
				margin-bottom: 25px;
			}

			.file-name {
				@include flexbox();
				justify-content: flex-start;

				.title {
					margin-right: 35px;
					font-weight: 500;
					font-size: 18px;
					line-height: 20px;
					color: #070F44;
				}
			}
		}

		.file-download {
			a {
				@include flexbox();
				@include trans(300ms);
				align-items: center;
				padding: 0 30px;
				height: 40px;
				background: #FFC200;
				border-radius: 20px;
				text-decoration: none;

				.icon {
					background: url(../../images/download-file-arrow.png) no-repeat center;
					width: 13.33px;
					height: 20px;
					display: inline-block;
					margin-left: 14px;
				}

				.title {
					color: #070F44;
					font-weight: 600;
					font-size: 16px;
					line-height: 21px;
				}

				&:hover {
					background: #255197;
					color: $white;

					.title {
						color: $white;
					}

					.icon {
						background: url(../../images/download-file-arrow-white.png) no-repeat center;
					}
				}
			}
		}

		&[data-layout="faq"],
		&[data-layout="stuff"],
		&[data-layout="table"] {
			.builder-item__title {
				padding-bottom: 25px;
				border-bottom: 2px solid rgba(7, 15, 68, 0.8);
			}
		}

		&[data-layout="table"] {
			border-bottom: 0;
		}

		.faq-list {
			list-style-type: none;
			margin: 0;
			padding: 0;

			li {
				margin-bottom: 10px;

				&.active {
					background: rgba(162, 214, 239, 0.8);
					border-radius: 8px;

					.answer {
						display: block;
					}

					.question {
						position: relative;

						&:after {
							position: absolute;
							width: calc(100% - 54px);
							height: 1px;
							background: #070F44;
							content: '';
							bottom: 0;
							display: block;
							right: 27px;
						}
					}

					.title {
						font-weight: 700;
					}

					.indicator {
						background: transparent url(../../images/acc-minus.png) no-repeat center;
					}
				}
			}
		}

		.answer {
			display: none;
			padding: 27px 27px 40px 27px;
			font-weight: 400;
			font-size: 18px;
			line-height: 28px;
			color: rgba(7, 15, 68, 0.8);

			a {
				color: rgba(7, 15, 68, 0.8);

				&:hover {
					text-decoration: none;
				}
			}

			p {
				margin: 0 0 16px 0;

				&:last-child {
					margin-bottom: 0;
				}
			}
		}

		.question-inner {
			cursor: pointer;
			@include flexbox();
			justify-content: space-between;
			border-radius: 8px;
			background: rgba(162, 214, 239, 0.3);
			height: 53px;
			padding: 0 27px;
			align-items: center;
			user-select: none;

			.indicator {
				background: transparent url(../../images/acc-plus.png) no-repeat center;
				width: 15px;
				height: 15px;
				border: 0;
				padding: 0;
			}
		}

		.title {
			font-weight: 500;
			font-size: 20px;
			line-height: 20px;
			color: #070F44;
		}

		.builder-item-inner {
			max-width: 1170px;
		}

		.stuff-list {
			list-style-type: none;
			margin: 0;
			padding: 0;
			@include flexbox();
			justify-content: space-between;
			flex-wrap: wrap;

			li {
				border-radius: 8px;
				position: relative;
				overflow: hidden;
				width: 48.8%;
				min-height: 250px;
				margin-bottom: 30px;
				background: #FFC200;
				color: #070F44;

				&:nth-child(2),
				&:nth-child(3),
				&:nth-child(6),
				&:nth-child(7) {
					background: #255197;
					color: $white;
				}

				&:before {
					content: '';
					background: url(../../images/stuff-mask.png) no-repeat center;
					width: 270px;
					height: 270px;
					display: block;
					position: absolute;
					left: -20px;
					top: -40px;
				}
			}

			.stuff-inner {
				padding-top: 50px;
				padding-right: 45px;
			}

			.stuff-title {
				font-weight: 700;
				font-size: 24px;
				line-height: 30px;
			}

			.stuff-role {
				font-weight: 600;
				font-size: 20px;
				line-height: 30px;

				p {
					margin: 0;
				}
			}

			.stuff-desc {
				font-weight: 400;
				font-size: 19px;
				line-height: 28px;

				p {
					margin: 0;
				}
			}
		}

		.stuff_departments-devider {
			background: rgba(7, 15, 68, 0.5);
			height: 2px;
			width: 100%;
			margin-top: 30px;
			margin-bottom: 60px;
		}

		.stuff_departments {
			li {
				.title {
					color: #255197;
					font-size: 24px;
					line-height: 30px;
				}

				&.active {
					background: rgba(162, 214, 239, 0.2);

					.title {
						color: #255197;
						font-weight: 600;
						font-size: 24px;
						line-height: 30px;
					}

					.question-inner {
						background: none;
					}

					.question:after {
						background: #255197;
					}
				}
			}
		}

		.department-content {
			@include flexbox();

			.column {
				width: 25%;
			}

			.meta {
				margin-bottom: 27px;

				.label {
					font-weight: 700;
					font-size: 18px;
					line-height: 28px;
					color: #070F44;
				}

				.data {
					font-weight: 400;
					font-size: 18px;
					line-height: 28px;
					color: rgba(7, 15, 68, 0.8);
				}
			}
		}

		.builder-table {
			width: 100%;

			thead {
				vertical-align: top;

				th {

					font-size: 20px;
					line-height: 34px;
					font-weight: 400;
					text-align: right;

					strong {
						font-weight: 700;
					}

					p {
						margin: 0;
					}
				}
			}

			tbody {
				tr {
					vertical-align: top;
					border-top: 2px solid #A2D6EF;
					font-weight: 500;
					font-size: 18px;
					line-height: 20px;
					color: #070F44;
				}

				tr.devider td {
					height: 1px;
					padding: 0;
					background: rgba(162, 214, 239, 0.5);
				}
			}

		}

		&[data-layout="gallery"] {
			.builder-item-inner {
				position: relative;
			}

			.gallery-item {
				position: relative;
				border-radius: 10px;
				overflow: hidden;
				max-width: 568px;

				&:before {
					background: rgba(7, 15, 68, 0.15);
					position: absolute;
					top: 0;
					right: 0;
					width: 100%;
					height: 100%;
					content: '';
					border-radius: 10px;
				}

				img {
					display: flex;
				}

				.play-video-button {
					background: url(../../images/play-btn-large.png) no-repeat center;
					width: 51.33px;
					height: 51.33px;
					display: block;
					position: absolute;
					z-index: 2;
					top: 50%;
					left: 50%;
					margin-top: -25.5px;
					margin-left: -25.5px;
				}
			}

			.swiper-button-control {
				width: 44px;
				height: 44px;
				border-radius: 50%;
				background: #FFFFFF;
				border: 1.5px solid #255197;

				&:after {
					display: none;
				}
			}

			.swiper-button-prev {
				left: -70px;
				right: auto;
				background: #FFFFFF url(../../images/swiper-left-blue.png) no-repeat center;
			}

			.swiper-button-next {
				right: -70px;
				left: auto;
				background: #FFFFFF url(../../images/swiper-right-blue.png) no-repeat center;
			}
		}

		&[data-layout="related_posts"] {

			border-bottom: 0;
			padding-bottom: 0;

			.builder-item__title {
				padding-bottom: 25px;
				border-bottom: 2px solid rgba(7, 15, 68, 0.5);
			}

			.related-posts {
				@include flexbox();
				justify-content: space-between;
				flex-wrap: wrap;
			}

			.related-post-item {
				@include flexbox();
				justify-content: space-between;
				width: 48%;
				margin-bottom: 30px;

				.meta {
					width: calc(100% - 300px);
				}
			}

			.post-title {
				font-weight: 600;
				font-size: 22px;
				line-height: 28px;
				color: #255197;
				margin-bottom: 7px;
			}

			.post-excerpt {
				color: rgba(7, 15, 68, 0.6);
				margin-bottom: 21px;

			}

			.post-permalink {
				a {
					text-decoration: none;
					@include flexbox();
					align-items: center;

					.title {
						color: #255197;
						font-weight: 700;
						font-size: 18px;
						line-height: 30px;
					}

					.icon {
						background: url(../../images/read-more-left.png) no-repeat center;
						width: 27.84px;
						height: 14.73px;
						display: flex;
						margin-right: 15px;
					}
				}
			}

			.thumb {
				border-radius: 10px;
				position: relative;
				overflow: hidden;
				margin-left: 30px;
				width: 269px;

				&:hover {
					img {
						-moz-transform: scale(1.1);
						-webkit-transform: scale(1.1);
						-o-transform: scale(1.1);
						-ms-transform: scale(1.1);
						transform: scale(1.1);
					}
				}

				img {
					@include flexbox();
					border-radius: 10px;
					position: relative;
					overflow: hidden;
					@include trans(300ms);
				}
			}
		}

	}

}

.youtube-iframe-wrapper {
	overflow: hidden;
}

#feedback-section {
	margin-bottom: 200px;

	.feedback-module-inner {
		text-align: center;
	}

	.feedback-title {
		font-weight: 600;
		font-size: 32px;
		line-height: 58px;
		color: #255197;
		margin-bottom: 35px;
	}

	.feedback-answers {
		@include flexbox();
		justify-content: center;

		button {
			border: 0;
			height: 200px;
			width: 270px;
			box-shadow: 0px 0px 40px rgba(49, 49, 49, 0.15);
			border-radius: 10px;
			background: $white;
			margin: 0 15px;
			@include flexbox();
			justify-content: center;
			align-items: center;
			flex-wrap: wrap;
			flex-direction: column;
			cursor: pointer;
			@include trans(300ms);

			&:hover {
				background: #FDD207;
			}

			.icon {
				margin-bottom: 20px;
				height: 100px;
				display: flex;
				align-items: center;
			}

			.title {
				color: #255197;
				font-weight: 600;
				font-size: 22px;
				line-height: 1;
			}
		}
	}

	.feedback-ajax {
		.response {
			display: block;
			margin-top: 30px;
			font-weight: 500;
			font-size: 22px;
			color: #255197;
		}
	}
}

.header-search-bar {
	height: 130px;
	background-color: $white;
	z-index: 10;
	top: -200px;
	position: absolute;
	width: 100%;
	@include trans(300ms);

	&.active {
		top: 0;
	}

	.close-search-bar {
		background: url(../../images/close-search-bar.png) no-repeat center;
		background-size: cover;
		width: 30px;
		height: 30px;
		display: block;
		border: 0;
		background-color: transparent;
		position: absolute;
		top: 20px;
		right: 20px;
		cursor: pointer;
	}

	.search-bar-inner {
		height: 100%;
		@include flexbox();
		width: 100%;
		max-width: 1014px;
		margin: auto;

		form {
			width: 100%;
			position: relative;
			display: flex;
			justify-content: center;
			align-items: center;
		}

		.search-input {
			border: 0;
			width: 100%;
			height: 45px;
			border-bottom: 1px solid rgba(37, 81, 151, 0.8);
			color: #255197;
			font-weight: 600;
			font-size: 24px;
			line-height: 30px;

			&::-webkit-input-placeholder {
				opacity: 1;
				color: #255197;
				font-weight: 600;
				font-size: 24px;
				line-height: 30px;
			}

			&::-moz-placeholder {
				opacity: 1;
				color: #255197;
				font-weight: 600;
				font-size: 24px;
				line-height: 30px;
			}

			&:-ms-input-placeholder {
				opacity: 1;
				color: #255197;
				font-weight: 600;
				font-size: 24px;
				line-height: 30px;
			}

			&:-moz-placeholder {
				opacity: 1;
				color: #255197;
				font-weight: 600;
				font-size: 24px;
				line-height: 30px;
			}
		}

		.search-submit {
			background: url(../../images/search-submit.png) no-repeat center;
			width: 29px;
			height: 27.93px;
			border: 0;
			position: absolute;
			left: 0;
			padding: 0;
		}
	}
}

#search-results-page {
	margin: 0 70px;
	padding-top: 60px;

	.meta {
		margin-bottom: 60px;

		.title {
			font-weight: 600;
			font-size: 42px;
			line-height: 1;
			color: #070F44;
			margin-bottom: 16px;

			span {
				color: #A2D6EF;
				border-bottom: 3px solid #FFC200;
			}
		}

		.subtitle {
			font-weight: 500;
			font-size: 19px;
			line-height: 1;
			color: #255197;
		}
	}

	.search-form-wrapper {
		max-width: 421px;
		margin-bottom: 60px;

		form {
			width: 100%;
			position: relative;
			display: flex;
			justify-content: center;
			align-items: center;
		}

		.search-input {
			border: 0;
			width: 100%;
			height: 45px;
			border-bottom: 1px solid rgba(37, 81, 151, 0.8);
			color: #255197;
			font-weight: 600;
			font-size: 24px;
			line-height: 30px;

			&::-webkit-input-placeholder {
				opacity: 1;
				color: #255197;
				font-weight: 600;
				font-size: 24px;
				line-height: 30px;
			}

			&::-moz-placeholder {
				opacity: 1;
				color: #255197;
				font-weight: 600;
				font-size: 24px;
				line-height: 30px;
			}

			&:-ms-input-placeholder {
				opacity: 1;
				color: #255197;
				font-weight: 600;
				font-size: 24px;
				line-height: 30px;
			}

			&:-moz-placeholder {
				opacity: 1;
				color: #255197;
				font-weight: 600;
				font-size: 24px;
				line-height: 30px;
			}
		}

		.search-submit {
			background: url(../../images/search-submit.png) no-repeat center;
			width: 29px;
			height: 27.93px;
			border: 0;
			position: absolute;
			left: 0;
			padding: 0;
		}
	}


}

.search-result-item {
	margin-bottom: 55px;

	.post-title {
		font-weight: 600;
		font-size: 22px;
		line-height: 1;
		color: #255197;
		margin-bottom: 10px;

		a {
			text-decoration: none;
			color: #255197;
		}
	}

	.post-permalink {
		margin-top: 25px;

		a {
			text-decoration: none;

			.title {
				font-weight: 700;
				font-size: 18px;
				line-height: 30px;
				color: #070F44;
			}

			.icon {
				background: url(../../images/read-more-dark.png) no-repeat center;
				width: 27.84px;
				height: 14.73px;
				display: inline-block;
				margin-right: 20px;
			}
		}
	}
}

.floating-form-wrapper {
	position: fixed;
	left: 0;
	bottom: 20px;
	z-index: 10;
	width: 100px;
	@include flexbox();

	&.active {
		box-shadow: 0px 0px 40px rgba(7, 15, 68, 0.15);

		.action-buttons {
			height: auto;
		}
	}

	.action-buttons {
		height: 0px;
		overflow: hidden;
		background: $white;
		width: 100px;
		@include flexbox();
		flex-wrap: wrap;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 0;
		-webkit-border-top-right-radius: 10px;
		-moz-border-radius-topright: 10px;
		border-top-right-radius: 10px;

		a {
			padding: 15px 0;
			width: 100%;
			text-align: center;
			@include trans(250ms);

			&:hover {
				background-color: #FDD207;
			}
		}
	}

	.main-cb-button {
		cursor: pointer;
		width: 100px;
		height: 100px;
		background: #255197;
		box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.15);
		text-align: center;
		@include flexbox();
		flex-direction: column;
		justify-content: center;
		align-items: center;
		border: 0;

		.icon {
			background: url(../../images/main-cb-button.png) no-repeat center;
			width: 51px;
			height: 33.48px;
			background-size: contain;
			display: block;
			margin-bottom: 7px;
		}

		.title {
			font-weight: 700;
			font-size: 16px;
			line-height: 18px;
			color: #FFFFFF;
		}

	}
}