@media screen and(max-width: 1700px) {
	.wide-container {
		padding: 0 16px;
	}
}

@media screen and(max-width: 1680px) {
	#home-news-section .news-section-slider .swiper-button-next {
		right: 20px;
	}

	#home-news-section .news-section-slider .swiper-button-prev {
		left: 20px;
	}
}